<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- добавление фрагмента общего содержимого тега head -->
    <th:block th:replace="layout/page-layout.html :: common-head-content"/>
</head>
<body class="truck-f">

<!-- добавление фрагмент шапки -->
<th:block th:replace="layout/page-layout.html :: page-header(page='truck')"/>


<div class="container-sm align-content-center text-center mask p-5" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="container-fluid text-center mb-5 text-white">
        <h1>Добавление новой машины</h1>
    </div>
    <!-- форма с использованием bootstrap -->
    <form method="post" th:action="@{/truck/new}" th:object="${truck}">
        <!-- truckModel -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label text-white" for="truckModel">Марка машины: </label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="truckModel" th:field="*{truckModel}" required minlength="1">
            </div>
        </div>
        <!-- capacity -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label text-white" for="capacity">Грузоподъемность, тонн: </label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="capacity" th:field="*{capacity}" required minlength="1">
            </div>
        </div>
        <!-- rent -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label text-white" for="rent">Стоимость аренды: </label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="rent" th:field="*{rent}" required>
            </div>
        </div>
        <!-- company -->
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label text-white" for="rent">Компания: </label>
            <div class="col-sm-10">
                <select class="form-select" id="company" th:field="*{company}">
                    <option th:each="company : ${companies}" th:value="${company.id}">
                        [[${company.name}]]
                    </option>

                </select>

            </div>
        </div>

        <!-- кнопка -->
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <button class="btn btn-success form-control">Сохранить</button>
            </div>
            <div class="col-sm-5">
                <a th:href="@{/truck}" class="btn btn-danger form-control">Отменить</a>
            </div>
        </div>
    </form>
</div>
</div>

<!-- добавление фрагмента футера -->
<th:block th:replace="layout/page-layout.html :: page-footer"/>
</body>
</html>